<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet 
			<link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
		</head>
		<body>
			<nav>
			<input onclick="responsiveVoice.speak('Hello World');" type="button" value="Play" />	
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--<li><a href="/about">About</a></li>-->
	        		<li><a href="https://www.linkedin.com/in/stanislava-sojakova-a528ab79/">CV</a></li>
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    			<li><a href="mailto:sojakovas@gmail.com">email</a></li>
			</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>	
			</footer>
		</body>
	</html>
